<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cadumancini.buscapet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PerdiMeuPet"
            android:label="@string/perdi_meu_pet"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cadumancini.buscapet.MainActivity" />
        </activity>
        <activity
            android:name=".EncontreiUmPet"
            android:label="@string/encontrei_um_pet"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cadumancini.buscapet.MainActivity" />
        </activity>
        <activity
            android:name=".AcompanharMeuPetPerdido"
            android:label="@string/acompanhar_meu_pet_perdido"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cadumancini.buscapet.MainActivity" />
        </activity>
        <activity
            android:name=".VerPetsPerdidosRegiao"
            android:label="@string/ver_pets_perdidos_regiao"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cadumancini.buscapet.MainActivity" />
        </activity>
        <activity
            android:name=".VerPetsEncontradosRegiao"
            android:label="@string/ver_pets_encontrados_regiao"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cadumancini.buscapet.MainActivity" />
        </activity>
        <activity
            android:name=".CadastrarMeuPet"
            android:label="@string/cadasrar_meu_pet"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cadumancini.buscapet.MainActivity" />
        </activity>
        <activity
            android:name=".Configuracoes"
            android:label="@string/title_activity_configuracoes"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>